<h1>Productos</h1>
<input id="filtro" type="text" placeholder="busqueda por nombre del producto">
<button id="button_filtro">filtrar</button>
<hr>
<div id="contenedor"></div>
<script src="./js/index.js"></script>
